.std-comment{
	margin-top:20px;
	margin-bottom: 15px;
}

.comment-all{
    margin-top:10px;
    padding-top: 15px;
    border-top: 1px solid rgba(200,200,200,0.5);
	word-wrap: break-word;
}

.comment-content{
	margin-top: 5px;
	padding-bottom: 20px;
}


/* 評論資訊上半部(樓層、系級和性別) */

.comment-info-func{
	float: right;
}

.comment-floor{
	font-size: large;
	font-weight: bold;
	text-align: left;
}

/* ------------------ */

/* 評論資訊下半部(日期、系名) */

.comment-date{
	font-size: small;
}

.comment-from{
	font-size: small;
}

/* ------------------ */


/* 評論作者的按鈕區(編輯或刪除) */

.comment-btn{
	background-color: white;
	border:1px solid #b4bcc2;
    border-radius: 4px;
	padding:5px 12px;
	font-size: small;
	margin-left:16px;
}

.comment-btn:hover{
	background-color: #b4bcc2;
}


/* ------------------ */


/* 編輯評論時出現的按鈕區(取消或完成) */

.comment-edit-func{
	text-align: right;
	margin: 10px;
}

.comment-btn-edit-cancel, .post-btn-edit-cancel{
	background-color: #FF8888;
	color: white;
}
.comment-btn-edit-cancel:hover, .post-btn-edit-cancel:hover{
	background-color: red;
	border-color: red;
}

.comment-btn-edit-submit, .post-btn-edit-submit{
	background-color: #3498db;
	color: white;
}

.comment-btn-edit-submit:hover, .post-btn-edit-submit:hover{
	background-color: #0044BB;
}
.comment-btn-edit-cancel, .comment-btn-edit-submit, .post-btn-edit-submit, .post-btn-edit-cancel{
	padding: 10px 20px;
}

/* ------------------ */